<nav class="nav-menu">
    <ul>
        <li>
            <a>Main</a>
        </li>
        <li>
            <a>Summary</a>
        </li>
        <li>
            <a>Tasks</a>
        </li>
        <li>
            <a>Employees</a>
        </li>
    </ul>
</nav>

<style>
    .nav-menu ul {
        list-style-type: none;
        padding: 0;
        display: flex;
    }
    .nav-menu li {
        margin-right: 20px;
    }
    .nav-menu a {
        text-decoration: none;
        color: #2980b9;
    }
    .nav-menu a:hover {
        text-decoration: underline;
    }
</style>