.remove-member {
    display: none;
    cursor: pointer;
    margin-left: 5px;
    color: red;
}

.position-relative:hover .remove-member {
    display: inline-block;
}


img {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}