<div class="user-team">
    <p>ЭHello</p>
</div>

@code {
    [Parameter] public string UserName { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Team");
    }
}
